/*--------------------------------------------------------------
# Product
--------------------------------------------------------------*/

.product-title {
    margin-bottom: 16px;
}

.product-title p {
    margin: 0;
    font-size: 15px;
}

.product-title .subtitle {
    font-size: 27px;
}

.product-title .product-name {
    font-size: 30px;
    color: purple;
}

.product-title h3 {
    color: red;
    font-size: 30px;
    text-transform: uppercase;
}

ul.product-details {
    list-style: none;
    font-size: 15px;
}

ul.product-details li {
    margin: 8px 0;
}

.btn-detail {
    width: auto;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #e96b56;
    background: #e96b56;
    transition: 0.5s;
}

.btn-detail:hover {
    background: transparent;
    color: #e96b56;
}


/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/

.portfolio-details .portfolio-title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}

.portfolio-details .portfolio-details-carousel .owl-nav,
.portfolio-details .portfolio-details-carousel .owl-dots {
    margin-top: 5px;
    text-align: center;
}

.portfolio-details .portfolio-details-carousel .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd !important;
}

.portfolio-details .portfolio-details-carousel .owl-dot.active {
    background-color: #e96b56 !important;
}